In [12]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from datetime import date,datetime,timedelta
import psycopg2
import smtplib
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText
from email.mime.base import MIMEBase
from email import encoders
import openpyxl
import xlrd
from dateutil.relativedelta import relativedelta

In [27]:
def get_item(zid):
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/da')
    df = pd.read_sql("""SELECT xitem,xdesc,xstdprice,xsrate 
                        FROM caitem 
                        WHERE zid = {} 
                        """.format(zid),con=engine)
    return df

def get_sales(zid,year):
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/da')
    df = pd.read_sql("""SELECT DISTINCT(imtrn.xitem), imtrn.xyear, SUM(imtrn.xqty) as qty, SUM(imtrn.xval) as cost, AVG(opddt.xrate) as rate , SUM(opddt.xdtwotax) as totamt
                        FROM imtrn
                        JOIN opddt
                        ON imtrn.xdocnum = opddt.xdornum
                        AND imtrn.xitem = opddt.xitem
                        AND imtrn.ximtrnnum = opddt.ximtrnnum
                        WHERE imtrn.zid = %s
                        AND opddt.zid = %s
                        AND imtrn.xyear >= %s
                        AND imtrn.xdoctype = '%s'
                        GROUP BY imtrn.xitem, imtrn.xyear"""%(zid,zid,year,'DO--'),con=engine)
    return df

def get_return(zid,year):
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/da')
    df = pd.read_sql("""SELECT DISTINCT(imtrn.xitem), imtrn.xyear, SUM(imtrn.xqty) as rqty
                        FROM imtrn 
                        WHERE imtrn.zid = %s
                        AND imtrn.xyear >= %s
                        AND imtrn.xdoctype = '%s'
                        GROUP BY imtrn.xitem, imtrn.xyear"""%(zid,year,'SR--'),con=engine)
    return df

def customer_count(zid,year):
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/da')
    df = pd.read_sql("""SELECT imtrn.xyear,COUNT(DISTINCT(imtrn.xcus))
                        FROM imtrn
                        WHERE imtrn.zid = %s
                        AND imtrn.xyear >= %s
                        AND imtrn.xdoctype = '%s'
                        GROUP BY imtrn.xyear"""%(zid,year,'DO--'),con=engine)
    return df

def day_count(zid,year):
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/da')
    df = pd.read_sql("""SELECT imtrn.xyear,COUNT(DISTINCT(imtrn.xdate))
                        FROM imtrn
                        JOIN opddt
                        ON imtrn.xdocnum = opddt.xdornum
                        AND imtrn.xitem = opddt.xitem
                        AND imtrn.ximtrnnum = opddt.ximtrnnum
                        WHERE imtrn.zid = %s
                        AND opddt.zid = %s
                        AND imtrn.xyear >= %s
                        AND imtrn.xdoctype = '%s'
                        GROUP BY imtrn.xyear"""%(zid,zid,year,'DO--'),con=engine)
    return df

In [29]:
hmbr_zid = 100001
year = 2018
df_i = get_item(hmbr_zid)
df_s = get_sales(hmbr_zid,year)
df_r = get_return(hmbr_zid,year)
df_c = customer_count(hmbr_zid,year)
df_y = day_count(hmbr_zid,year)

In [30]:
df_i

       xitem                             xdesc  xstdprice  xsrate
0      1603R          Slip Joint Plier 10 Inch     130.00     NaN
1     11970R    Screw Driver RH-4 inch (Minus)      26.33     NaN
2       1878     Door Viewer B 200 SS with cap       1.00     NaN
3      1521R            Tinmans Snip 10.5 Inch     120.00     NaN
4     100036                   Motor Cycle Oil     495.00     NaN
...      ...                               ...        ...     ...
3676    0120             Brass Ball Valve -3/4     268.00     0.0
3677    1894       Furniture Handle 8127- 96AC      33.00     0.0
3678    1218            Drawer Channel 24 Inch      72.00     0.0
3679    1278  Kraftig PVC Solvent Cement 100ml      82.00     0.0
3680    1222                         Haps Lock     210.00     0.0

[3681 rows x 4 columns]

In [31]:
df_master = df_i.merge(df_s[['xitem','xyear','qty','cost','rate','totamt']],on=['xitem'],how='left').merge(df_r[['xitem','xyear','rqty']],on=['xitem','xyear'],how='left').fillna(0)
df_master

,xitem,xdesc,xstdprice,xsrate,xyear,qty,cost,rate,totamt,rqty
0,1603R,Slip Joint Plier 10 Inch,130.00,0.0,0.0,0.0,0.000000,0.000000,0.00,0.0
1,11970R,Screw Driver RH-4 inch (Minus),26.33,0.0,2018.0,2.0,43.040000,26.330000,52.66,0.0
2,1878,Door Viewer B 200 SS with cap,1.00,0.0,0.0,0.0,0.000000,0.000000,0.00,0.0
3,1521R,Tinmans Snip 10.5 Inch,120.00,0.0,0.0,0.0,0.000000,0.000000,0.00,0.0
4,100036,Motor Cycle Oil,495.00,0.0,0.0,0.0,0.000000,0.000000,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...
6805,1222,Haps Lock,210.00,0.0,2019.0,2481.0,291887.804629,150.000000,367070.00,187.0
6806,1222,Haps Lock,210.00,0.0,2020.0,14.0,1726.062915,150.000000,2100.00,0.0
6807,1222,Haps Lock,210.00,0.0,2022.0,43.0,4677.970000,165.000000,6915.00,0.0
6808,1222,Haps Lock,210.00,0.0,2018.0,4011.0,443752.506776,146.353261,589614.00,431.0
6809,1222,Haps Lock,210.00,0.0,2021.0,1270.0,138163.300000,159.375000,203080.00,487.0

In [32]:
# df_hmbr_g_h = df_cus.merge(df_sales_g_h[['xcus','xyear','xper','xsp','xlineamt']],on=['xcus'],how='left').merge(df_return_g_h[['xcus','xyear','xper','xsp','totamt']],on=['xcus','xyear','xper','xsp'],how='left').fillna(0

In [33]:
df_master['eff_sale_qty'] = df_master['qty'] - df_master['rqty']
df_master['eff_sale_amt'] = (df_master['totamt']/df_master['qty'])*df_master['eff_sale_qty']
df_master['unit_cost'] = df_master['cost']/df_master['qty']
df_master['eff_sale_rt'] = df_master['eff_sale_amt']/df_master['eff_sale_qty']
df_master['total_cost'] = df_master['unit_cost']*df_master['eff_sale_qty']
df_master['GP'] = df_master['eff_sale_amt'] - df_master['total_cost']

conditions = [
    (df_master['eff_sale_rt'] <= 50),
    (df_master['eff_sale_rt'] > 50) & (df_master['eff_sale_rt'] <= 100),
    (df_master['eff_sale_rt'] > 100) & (df_master['eff_sale_rt'] <= 200),
    (df_master['eff_sale_rt'] > 200) & (df_master['eff_sale_rt'] <= 400),
    (df_master['eff_sale_rt'] > 400) & (df_master['eff_sale_rt'] <= 700),
    (df_master['eff_sale_rt'] > 700) & (df_master['eff_sale_rt'] <= 1500),
    (df_master['eff_sale_rt'] > 1500) & (df_master['eff_sale_rt'] <= 3000),
    (df_master['eff_sale_rt'] > 3000)]
choices = [50,100,200,400,700,1500,3000,3001]
df_master['range'] = np.select(conditions,choices, default=0)

In [34]:
df_master

,xitem,xdesc,xstdprice,xsrate,xyear,qty,cost,rate,totamt,rqty,eff_sale_qty,eff_sale_amt,unit_cost,eff_sale_rt,total_cost,GP,range
0,1603R,Slip Joint Plier 10 Inch,130.00,0.0,0.0,0.0,0.000000,0.000000,0.00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
1,11970R,Screw Driver RH-4 inch (Minus),26.33,0.0,2018.0,2.0,43.040000,26.330000,52.66,0.0,2.0,52.660000,21.520000,26.330000,43.040000,9.620000,50
2,1878,Door Viewer B 200 SS with cap,1.00,0.0,0.0,0.0,0.000000,0.000000,0.00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
3,1521R,Tinmans Snip 10.5 Inch,120.00,0.0,0.0,0.0,0.000000,0.000000,0.00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
4,100036,Motor Cycle Oil,495.00,0.0,0.0,0.0,0.000000,0.000000,0.00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6805,1222,Haps Lock,210.00,0.0,2019.0,2481.0,291887.804629,150.000000,367070.00,187.0,2294.0,339402.893994,117.649256,147.952439,269887.393720,69515.500275,200
6806,1222,Haps Lock,210.00,0.0,2020.0,14.0,1726.062915,150.000000,2100.00,0.0,14.0,2100.000000,123.290208,150.000000,1726.062915,373.937085,200
6807,1222,Haps Lock,210.00,0.0,2022.0,43.0,4677.970000,165.000000,6915.00,0.0,43.0,6915.000000,108.790000,160.813953,4677.970000,2237.030000,200
6808,1222,Haps Lock,210.00,0.0,2018.0,4011.0,443752.506776,146.353261,589614.00,431.0,3580.0,526257.322364,110.633884,146.999252,396069.302981,130188.019382,200
6809,1222,Haps Lock,210.00,0.0,2021.0,1270.0,138163.300000,159.375000,203080.00,487.0,783.0,125206.015748,108.790000,159.905512,85182.570000,40023.445748,200

In [18]:
df_rev = df_master[df_master['range']!=0].pivot_table(['eff_sale_amt'],index='range',columns=['xyear'],aggfunc='sum').round(1).fillna(0)
df_cost = df_master[df_master['range']!=0].pivot_table(['total_cost'],index='range',columns=['xyear'],aggfunc='sum').round(1).fillna(0)
df_qty = df_master[df_master['range']!=0].pivot_table(['eff_sale_qty'],index='range',columns=['xyear'],aggfunc='sum').round(1).fillna(0)
df_gp = df_master[df_master['range']!=0].pivot_table(['GP'],index='range',columns=['xyear'],aggfunc='sum').round(1).fillna(0)

In [19]:
# in the email attach excel reports for df_master, df_rev, df_cost, df_qty, df_gp , df_c , and df_y
# Bashar also put df_c and df_y in the excel sheet. do this ASAP.

In [20]:

# Define your DataFrames: df_master, df_rev, df_cost, df_qty, df_gp, df_c, df_y
dataframes = {
    'Master': df_master,
    'Revenue': df_rev,
    'Cost': df_cost,
    'Quantity': df_qty,
    'GP': df_gp,
    'C': df_c,
    'Y': df_y
}

# Create an Excel writer object
writer = pd.ExcelWriter('hmbr_sales_p.xlsx', engine='openpyxl')

# Iterate over the dictionary and write each DataFrame to a separate sheet
for sheet_name, dataframe in dataframes.items():
    dataframe.to_excel(writer, sheet_name=sheet_name, index=True)

# Save the Excel file
writer.save()

In [21]:

def send_email_with_attachments(sender_email, sender_password, recipient_emails, subject, body, attachments):
    # Establish a connection to the SMTP server
    server = smtplib.SMTP('smtp.gmail.com', 587)
    server.starttls()
    server.login(sender_email, sender_password)

    # Create a multipart message container
    message = MIMEMultipart()
    message['From'] = sender_email
    message['To'] = ', '.join(recipient_emails)
    message['Subject'] = subject

    # Add the email body as plain text
    message.attach(MIMEText(body, 'plain'))

    # Attach the files
    for attachment in attachments:
        part = MIMEBase('application', 'octet-stream')
        part.set_payload(open(attachment, 'rb').read())
        encoders.encode_base64(part)
        part.add_header('Content-Disposition', f'attachment; filename="{attachment}"')
        message.attach(part)

    # Send the email
    server.send_message(message)

    # Clean up the connection
    server.quit()

# Sender and recipient details
sender_email = 'pythonhmbr12@gmail.com'
sender_password = 'vksikttussvnbqef'
recipient_emails = ['ithmbrbd@gmail.com', 'mo.hmbrbd@gmail.com', 'asaddat87@gmail.com']

# Email content
subject = 'HMBR Sales before run profit and Loss'
body = 'Please find attached the files you requested.'

# Attachments
attachments = ['hmbr_sales_p.xlsx']

# Send the email
send_email_with_attachments(sender_email, sender_password, recipient_emails, subject, body, attachments)